*{
    margin: 0;
    padding: 0;
}
header{
    padding-top: 22px;
    padding-bottom: 22px;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.d_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#custom_wraper{
    max-width: 1700px;
}
header nav ul{
    list-style: none;
    display: flex;
}
.main_banner{
    background-color: #ECE7E4;
    height: 100vh;
    position: relative;
}
.main_banner article{
    max-width: 509px;
    padding-top: 137px;
}
header nav ul li{
    transition: 0.4s;
    margin: 0 16px;
}
.nav_link{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #1B1A1A;
}
header nav ul li:hover{
    transform: rotate(360deg);
}

header nav ul li:last-of-type{
    margin: 0;
}
header nav ul li:last-of-type a{
    text-decoration: none;
    text-align: center;
    padding: 11px 21px;
    background: #1B1A1A;
    border-radius: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;">Get template}
}
section div{
    max-width: 1200px;
    margin: auto;
}
.section1_p1{
    font-family: 'Poppins';
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;"
}
.section1_h1{
    font-family: 'Poppins';
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
}
.section1_p2{
    font-family: 'Poppins';
    margin-bottom: 41px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;"
}
.section1_a{
    text-decoration: none;
    margin-left: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;"
}
.section1_img{
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
}
.section2{
    padding-top: 96px;
    padding-bottom: 128px;
}
.section2_div{
    margin: auto;
    max-width: 768px;
    display: flex;
    justify-content: space-between;
}